version: "3.9"

services:
  myapi:
    build:
      context: https://github.com/risatesole/sandbox.git
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
